{{#each this}}
  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{full}}" itemprop="contentUrl">
          <img src="{{thumb}}" itemprop="thumbnail" alt="{{description}}" />
      </a>
      <figcaption itemprop="caption description">
        {{#markdown}}{{{caption}}}{{/markdown}}
      </figcaption>
  </figure>
{{/each}}
