<div class="hero" style="background-image:url({{hero.image}});{{#if hero.position}} background-position: {{hero.position}};{{/if}}">
  <div class="headings">
    <h1>{{#spanWords pageTitle}}{{/spanWords}}</h1>
    {{#if pageSubtitle}}
      <h2>{{#spanWords pageSubtitle}}{{/spanWords}}</h2>
    {{/if}}
  </div>
  {{#if hero.credit}}
    <figcaption>
    {{#markdown}}{{{hero.credit}}}{{/markdown}}
    </figcaption>
  {{/if}}
</div>
