<a class="nav-toggle" href="#">
  <span class="open">☰</span>
  <span class="close">×</span>
</a>
<nav>
  {{#each pages}}
    {{#not metadata.hideInNav}}
      <a href="/{{route}}"{{#is ../pageTitle metadata.pageTitle}} class="active"{{/is}}>{{metadata.pageTitle}}</a>
    {{/not}}
  {{/each}}
</nav>
