{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}


{{!-- The main content area --}}
{{#post}}
  <main id="site-main" class="site-main outer">
    {{> hero h1=@site.title h2=@site.description }}
    <div class="inner post-inner">
      {{#get "pages" limit="all" as |pages|}}
          {{! Loop through our featured posts }}
          <div class="post-cards-list">
            {{#foreach pages}}
              {{#if featured}}
                {{> post-card}}
              {{/if}}
            {{else}}
              {{! If there are no featured posts}}
            {{/foreach}}
          </div>
      {{else}}
        <p class="error">{{error}}</p>
      {{/get}}
    </div>
  </main>
{{/post}}
{{!-- {{> subscribers-form }} --}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
{{/contentFor}}
