body {
  transition: transform 0.2s ease-in-out;
}

header {
  padding: 0 4%;
  height: $headerHeight;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  a {
    transition: color 0.2s ease-in-out;
  }

  a:hover,
  a.active {
    color: $main-color;
  }

  nav {
    background: #eee;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -$topnav-width;
    width: $topnav-width;
    font-size: 1rem;
    padding: 1rem;
    @include PlayfairDisplay();
    transition: right 0.2s ease-in-out;
    a {
      color: $text-color;
      line-height: 2rem;
      display: block;
      padding: 0.25rem;
      &:first-child {
        padding-top: 0;
      }
      &.active {
        color: $main-color;
      }
    }
  }

  .nav-toggle {
    color: $text-color;
    font-size: 1.6rem;
    .close {
      font-size: 3.6rem;
      line-height: 0.8;
      display: none;
    }
  }
}

body.nav-open {
  transform: translateX(-$topnav-width);
  header {
    .nav-toggle {
      .close {
        display: inline;
      }
      .open {
        display: none;
      }
    }
  }
}
