@mixin hero-height($ratio){
  .hero {
    width: 100%;
    padding-top: 100% / $ratio;
  }
}

.hero {
  min-height: 200px;
  background-color: #ccc;
  background-size: cover;
  background-position: center center;
  position: relative;

  .headings {
    position: absolute;
    bottom: 0.6em;
    left: 0.6em;
    margin: 20em 0 0;
  }

  h1,
  h2 {
    text-align: left;
    span {
      display: inline-block;
      background: rgba(255,255,255,0.8);
      margin: 0.2em 0 0;
      line-height: 1.5;
      padding: 0 0.2em;
    }
  }
  h2 {
    margin-top: 0;
  }
}

@include hero-height(2);
