$galleryColumns: 4;
$headerHeight: 3rem;
$footerHeight: 3rem;

body {
  padding: $headerHeight 4% $footerHeight;
}

main {
  overflow: hidden;
}

footer {
  height: 3rem;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  padding: 0 4%;
}

header {
  padding: 0 4%;
  height: $headerHeight;
  display: flex;
  position: fixed;
  align-items: center;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  a {
    transition: color 0.2s ease-in-out;
  }

  a:hover,
  a.active {
    color: $main-color;
  }

  nav {
    font-size: 1rem;
    padding: 0 0 0 1rem;
    @include PlayfairDisplay();
    a {
      color: $text-color;
      line-height: 2rem;
      display: inline-block;
      padding: 0 0.5rem;
    }
  }
}


@import "components/logo";
@import "components/hero";
@import "components/photo-gallery";
@import "components/video-embed";
@include photo-gallery-layout(2);
