$tablet: 36em;
$desktop: 56em;
$giant: 105em;

$text-color: #222;
$main-color: #0D5B99;

@mixin Raleway(){
  font-family: 'Raleway';
  font-weight: 400;
}

@mixin PlayfairDisplay(){
  font-family: 'Playfair Display';
  font-weight: 400;
}

html {
  height: 100%;
  @include Raleway();
  font-size: 14px;
}

body {
  line-height: 1.2;
  color: $text-color;
  min-height: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include PlayfairDisplay();
}

h1 {
  font-size: 2.75em;
  line-height: 1;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.25em;
}

a {
  text-decoration: none;
  color: $main-color;
}

figure {
  margin: 0;
}
