{{!--
pageTitle: Emily Rushing
pageSubtitle: Dance Artist
title: Home
pageName: home
pageIndex: 0
hideInNav: true
hero:
  image: /images/home-01.jpg
--}}
{{> components/hero this }}

{{!-- {{> components/video-embed '<iframe src="https://player.vimeo.com/video/151764913" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>' }} --}}
{{!-- {{> video-embed '<iframe src="https://player.vimeo.com/video/164649306" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>' }}
{{> video-embed '<iframe src="https://player.vimeo.com/video/135636404" width="640" height="362" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>' }} --}}

<div class="gallery" itemscope itemtype="http://schema.org/ImageGallery">
  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/about" itemprop="contentUrl">
          <img src="/images/about.jpg" itemprop="thumbnail" />
          <h3>{{#spanWords "About"}}{{/spanWords}}</h3>
      </a>
  </figure>
  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/performances" itemprop="contentUrl">
          <img src="/images/work.jpg" itemprop="thumbnail" />
          <h3>{{#spanWords "Performances"}}{{/spanWords}}</h3>
      </a>
  </figure>
  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/media" itemprop="contentUrl">
          <img src="/images/media.jpg" itemprop="thumbnail" />
          <h3>{{#spanWords "Photos + Video"}}{{/spanWords}}</h3>
      </a>
  </figure>
  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/contact" itemprop="contentUrl">
          <img src="/images/contact.jpg" itemprop="thumbnail" />
          <h3>{{#spanWords "Contact"}}{{/spanWords}}</h3>
      </a>
  </figure>
</div>
