{{!--
pageTitle: Photos + Video
pageName: media
hero:
  image: /images/gallery/cdt-01_1920x1080.jpg
  position: center center
gallery:
- full: /images/gallery/Bigrangeaustin_960x697.jpg
  thumb: /images/gallery/Bigrangeaustin_thumb.jpg
  caption: Big Range
- full: /images/gallery/Bigrangeaustin2_960x681.jpg
  thumb: /images/gallery/Bigrangeaustin2_thumb.jpg
  caption: Big Range
- full: /images/gallery/Silencetopower_2048x1366.jpg
  thumb: /images/gallery/Silencetopower_thumb.jpg
  caption: Silence to Power
- full: /images/gallery/silencetopower2_1366x2048.jpg
  thumb: /images/gallery/silencetopower2_thumb.jpg
  caption: Silence to Power
- full: /images/gallery/bluelapislight_1398x1080.jpg
  thumb: /images/gallery/bluelapislight_thumb.jpg
  description: Blue Lapis Light
  caption: Blue Lapis Light
- full: /images/gallery/bluelapislight3_1920x931.jpg
  thumb: /images/gallery/bluelapislight3_thumb.jpg
  description: Blue Lapis Light
  caption: Blue Lapis Light
- full: /images/gallery/bluelapislight12_1920x988.jpg
  thumb: /images/gallery/bluelapislight12_thumb.jpg
  description: Blue Lapis Light
  caption: Blue Lapis Light
- full: /images/gallery/bluelapislight13_1398x1080.jpg
  thumb: /images/gallery/bluelapislight13_thumb.jpg
  description: Blue Lapis Light
  caption: Blue Lapis Light
- full: /images/gallery/morosebeauty_960x540.jpg
  thumb: /images/gallery/morosebeauty_thumb.jpg
  caption: Morose Beauty
- full: /images/gallery/01_5184x3456.jpg
  thumb: /images/gallery/01_thumb.jpg
  caption:
- full: /images/gallery/04_3900x3328.jpg
  thumb: /images/gallery/04_thumb.jpg
  description:
  caption: Image caption
- full: /images/gallery/05_5184x3456.jpg
  thumb: /images/gallery/05_thumb.jpg
  caption: Whatever
- full: /images/gallery/11_3456x5184.jpg
  thumb: /images/gallery/11_thumb.jpg
  caption: Whatever
- full: /images/gallery/13_3456x5184.jpg
  thumb: /images/gallery/13_thumb.jpg
  caption:
- full: /images/gallery/15_2250x1500.jpg
  thumb: /images/gallery/15_thumb.jpg
  caption:
- full: /images/gallery/16_2250x1500.jpg
  thumb: /images/gallery/16_thumb.jpg
  caption:
- full: /images/gallery/17_2250x1500.jpg
  thumb: /images/gallery/17_thumb.jpg
  caption:
- full: /images/gallery/18_2250x1500.jpg
  thumb: /images/gallery/18_thumb.jpg
  caption:
- full: /images/gallery/19_2250x1500.jpg
  thumb: /images/gallery/19_thumb.jpg
  caption:
- full: /images/gallery/20_2250x1500.jpg
  thumb: /images/gallery/20_thumb.jpg
  caption:
- full: /images/gallery/22_1080x1080.jpg
  thumb: /images/gallery/22_thumb.jpg
  caption:
--}}
{{> components/hero this }}

<h2 id="photos">Photos</h2>
{{> components/gallery gallery}}

<h2 id="videos">Videos</h2>
{{> components/video-embed '<iframe src="https://player.vimeo.com/video/151764913" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>' }}
{{> components/video-embed '<iframe src="https://www.youtube.com/embed/u-IneeroEVE" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>' }}
{{> components/video-embed '<iframe src="https://player.vimeo.com/video/164649306" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>' }}
{{> components/video-embed '<iframe src="https://player.vimeo.com/video/135636404" width="640" height="362" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>' }}
