{{!--
pageTitle: Photos + Video
pageName: media
pageIndex: 3
hero:
  image: /images/gallery/cdt-01_1920x1080.jpg
  position: center center
gallery:
- full: /images/gallery/cdt-01_1920x1080.jpg
  thumb: /images/gallery/cdt-01_thumb.jpg
  caption: Chaddick Dance Theater - 2017 Fall Festival
- full: /images/gallery/cdt-04_1282x1920.jpg
  thumb: /images/gallery/cdt-04_thumb.jpg
  caption: Chaddick Dance Theater - 2017 Fall Festival
- full: /images/gallery/cdt-02_1920x1282.jpg
  thumb: /images/gallery/cdt-02_thumb.jpg
  caption: Chaddick Dance Theater - 2017 Fall Festival
- full: /images/gallery/1111-7-04_1920x1280.jpg
  thumb: /images/gallery/1111-7-04_thumb.jpg
  caption: 11:11 Seven
- full: /images/gallery/1111-7-02_1920x1280.jpg
  thumb: /images/gallery/1111-7-02_thumb.jpg
  caption: 11:11 Seven
- full: /images/gallery/1111-7-03_1920x1280.jpg
  thumb: /images/gallery/1111-7-03_thumb.jpg
  caption: 11:11 Seven
- full: /images/gallery/1111-11-01_1500x1125.jpg
  thumb: /images/gallery/1111-11-01_thumb.jpg
  caption: 11:11 Eleven
- full: /images/gallery/diet-fizz-radio-01_1920x1280.jpg
  thumb: /images/gallery/diet-fizz-radio-01_thumb.jpg
  caption: "BlipSwitch : Diet Fizz Radio"
- full: /images/gallery/bluelapislight_1398x1080.jpg
  thumb: /images/gallery/bluelapislight_thumb.jpg
  caption: "Blue Lapis Light : Belonging, Part One"
- full: /images/gallery/bluelapislight3_1920x931.jpg
  thumb: /images/gallery/bluelapislight3_thumb.jpg
  caption: "Blue Lapis Light : Belonging, Part One"
- full: /images/gallery/Silencetopower_2048x1366.jpg
  thumb: /images/gallery/Silencetopower_thumb.jpg
  caption: Silence to Power
- full: /images/gallery/Bigrangeaustin_960x697.jpg
  thumb: /images/gallery/Bigrangeaustin_thumb.jpg
  caption: Big Range Austin

- full: /images/gallery/headshot-01_2048x1365.jpg
  thumb: /images/gallery/headshot-01_thumb.jpg
  caption: Photo by Sarah Annie Navarette
- full: /images/gallery/headshot-02_2400x1600.jpg
  thumb: /images/gallery/headshot-02_thumb.jpg
  caption: Photo by Sarah Annie Navarette
- full: /images/gallery/headshot-03_2400x1600.jpg
  thumb: /images/gallery/headshot-03_thumb.jpg
  caption: Photo by Sarah Annie Navarette
- full: /images/gallery/street-01_927x662.jpg
  thumb: /images/gallery/street-01_thumb.jpg
  caption: Photo by Sarah Annie Navarette
- full: /images/gallery/street-02_2063x1474.jpg
  thumb: /images/gallery/street-02_thumb.jpg
  caption: Photo by Sarah Annie Navarette
- full: /images/gallery/street-03_2209x1707.jpg
  thumb: /images/gallery/street-03_thumb.jpg
  caption: Photo by Sarah Annie Navarette

- full: /images/gallery/05_2400x1600.jpg
  thumb: /images/gallery/05_thumb.jpg
  caption: Photo by Malia Moss
- full: /images/gallery/11_2400x3600.jpg
  thumb: /images/gallery/11_thumb.jpg
  caption: Photo by Malia Moss
- full: /images/gallery/16_2250x1500.jpg
  thumb: /images/gallery/16_thumb.jpg
  caption: Photo by Malia Moss
- full: /images/gallery/19_2250x1500.jpg
  thumb: /images/gallery/19_thumb.jpg
  caption: Photo by Malia Moss

--}}
{{> components/hero this }}

<h2 id="photos">Photos</h2>
{{> components/gallery gallery}}

<h2 id="videos">Videos</h2>
{{!-- {{> components/video-embed '<iframe src="https://player.vimeo.com/video/151764913" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>' }} --}}
{{> components/video-embed '<iframe src="https://www.youtube.com/embed/u-IneeroEVE" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>' }}
{{> components/video-embed '<iframe src="https://player.vimeo.com/video/164649306" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>' }}
{{> components/video-embed '<iframe src="https://player.vimeo.com/video/135636404" width="640" height="362" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>' }}
