{{!--
pageTitle: Photos + Video
pageName: media
pageIndex: 3
hero:
  image: /images/gallery/1111-7-03_1920x1280.jpg
  position: center center
gallery:
- full: /images/gallery/cdt-01_1920x1080.jpg
  thumb: /images/gallery/cdt-01_thumb.jpg
  caption: ___2017 Fall Festival___ - Chaddick Dance Theater - (Photo by [Mattias Alegro](https://www.mattiasalegro.com/))
- full: /images/gallery/cdt-04_1282x1920.jpg
  thumb: /images/gallery/cdt-04_thumb.jpg
  caption: ___2017 Fall Festival___ - Chaddick Dance Theater - (Photo by [Mattias Alegro](https://www.mattiasalegro.com/))
- full: /images/gallery/las-cuatro-estaciones-01_1080x720.jpg
  thumb: /images/gallery/las-cuatro-estaciones-01_thumb.jpg
  caption: ___Las Cuatro Estaciones___ - 2017 (Photo by Lynn Lane)
- full: /images/gallery/1111-7-04_1920x1280.jpg
  thumb: /images/gallery/1111-7-04_thumb.jpg
  caption: ___11:11 Seven___ - (Photo by [Mattias Alegro](https://www.mattiasalegro.com/))
- full: /images/gallery/1111-7-02_1920x1280.jpg
  thumb: /images/gallery/1111-7-02_thumb.jpg
  caption: ___11:11 Seven___ - (Photo by [Mattias Alegro](https://www.mattiasalegro.com/))
- full: /images/gallery/1111-7-03_1920x1280.jpg
  thumb: /images/gallery/1111-7-03_thumb.jpg
  caption: ___11:11 Seven___ - (Photo by [Mattias Alegro](https://www.mattiasalegro.com/))
- full: /images/gallery/1111-11-01_1500x1125.jpg
  thumb: /images/gallery/1111-11-01_thumb.jpg
  caption: ___11:11 Eleven___ - (Photo by [Mattias Alegro](https://www.mattiasalegro.com/))
- full: /images/gallery/diet-fizz-radio-01_1920x1280.jpg
  thumb: /images/gallery/diet-fizz-radio-01_thumb.jpg
  caption: ___Diet Fizz Radio___ - BLiPSWiTCH - (Photo by [Mattias Alegro](https://www.mattiasalegro.com/))
- full: /images/gallery/belonging-01_1080x1080.jpg
  thumb: /images/gallery/belonging-01_thumb.jpg
  caption: ___Belonging, Part One___ - Blue Lapis Light (Photo by Earl McGehee)
- full: /images/gallery/belonging-02_1080x834.jpg
  thumb: /images/gallery/belonging-02_thumb.jpg
  caption: ___Belonging, Part One___ - Blue Lapis Light (Photo by Earl McGehee)
- full: /images/gallery/bluelapislight_1398x1080.jpg
  thumb: /images/gallery/bluelapislight_thumb.jpg
  caption: ___In Light___ - Blue Lapis Light (Photo by Earl McGehee)
- full: /images/gallery/bluelapislight3_1920x931.jpg
  thumb: /images/gallery/bluelapislight3_thumb.jpg
  caption: ___In Light___ - Blue Lapis Light (Photo by Earl McGehee)
- full: /images/gallery/Silencetopower_2048x1366.jpg
  thumb: /images/gallery/Silencetopower_thumb.jpg
  caption: ___Silence to Power___
- full: /images/gallery/Bigrangeaustin_960x697.jpg
  thumb: /images/gallery/Bigrangeaustin_thumb.jpg
  caption: ___Big Range Austin___ - (Photo by [Stephen Pruitt](http://www.fluxionphotography.com/))
- full: /images/gallery/headshot-01_2048x1365.jpg
  thumb: /images/gallery/headshot-01_thumb.jpg
  caption: Photo by [Sarah Annie Navarette](http://www.sarahannie.com/)
- full: /images/gallery/headshot-02_2400x1600.jpg
  thumb: /images/gallery/headshot-02_thumb.jpg
  caption: Photo by [Sarah Annie Navarette](http://www.sarahannie.com/)
- full: /images/gallery/headshot-03_2400x1600.jpg
  thumb: /images/gallery/headshot-03_thumb.jpg
  caption: Photo by [Sarah Annie Navarette](http://www.sarahannie.com/)
- full: /images/gallery/street-01_927x662.jpg
  thumb: /images/gallery/street-01_thumb.jpg
  caption: Photo by [Sarah Annie Navarette](http://www.sarahannie.com/)
- full: /images/gallery/street-02_2063x1474.jpg
  thumb: /images/gallery/street-02_thumb.jpg
  caption: Photo by [Sarah Annie Navarette](http://www.sarahannie.com/)
- full: /images/gallery/street-03_2209x1707.jpg
  thumb: /images/gallery/street-03_thumb.jpg
  caption: Photo by [Sarah Annie Navarette](http://www.sarahannie.com/)
- full: /images/gallery/05_2400x1600.jpg
  thumb: /images/gallery/05_thumb.jpg
  caption: Photo by [Malia Moss](http://www.maliamoss.com/)
- full: /images/gallery/11_2400x3600.jpg
  thumb: /images/gallery/11_thumb.jpg
  caption: Photo by [Malia Moss](http://www.maliamoss.com/)
- full: /images/gallery/16_2250x1500.jpg
  thumb: /images/gallery/16_thumb.jpg
  caption: Photo by [Malia Moss](http://www.maliamoss.com/)
- full: /images/gallery/19_2250x1500.jpg
  thumb: /images/gallery/19_thumb.jpg
  caption: Photo by [Malia Moss](http://www.maliamoss.com/)

--}}
{{> components/hero this }}

<h2 id="videos">Videos</h2>
<div id="flicker-burn-repeat">
  {{#markdown}}
  ### _Flicker.Burn.Repeat_
  Choreography Emily Rushing and Carissa Fisher, featured in Austin Dance Festival 2018
  {{/markdown}}
  {{> components/video-embed '<iframe src="https://player.vimeo.com/video/266770824" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>' }}
</div>

<div id="four-corners-and-a-circle">
  {{#markdown}}
  ### _Four Corners and a Circle_
  Chaddick Dance Theater - February 2018
  {{/markdown}}
  {{> components/video-embed '<iframe src="https://www.youtube.com/embed/Sp88YsLrT7A" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>' }}
</div>

<div id="grow">
  {{#markdown}}
  ### _Grow_
  Choreography by Emily Rushing as part of _Dance Nature/Nature Dance_ 2016
  {{/markdown}}
  {{> components/video-embed '<iframe src="https://www.youtube.com/embed/u-IneeroEVE" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>' }}
</div>

<div id="this-is-where-it-happened">
  {{#markdown}}
  ### _This is Where it Happened_
  Choreography by [Gulsen Özer](http://www.gulsenozer.com/)
  {{/markdown}}
  {{> components/video-embed '<iframe src="https://player.vimeo.com/video/164649306" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>' }}
</div>

<div id="eos">
  {{#markdown}}
  ### _Eos_
  Short film created for Strictly Seattle Dance Festival 2014.  Directed, choreographed, and edited by Emily Rushing
  {{/markdown}}
  {{> components/video-embed '<iframe src="https://player.vimeo.com/video/135636404" width="640" height="362" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>' }}
</div>

<h2 id="photos">Photos</h2>
{{> components/gallery gallery}}
