{{!--
pageTitle: Work
pageName: work
hero:
  image: /images/gallery/11-7-01_1920x1280.jpg
  position: center center
--}}
{{> components/hero this}}
<div class="resume">
{{#md "src/content/resume.md"}}{{/md}}
</div>
