{{!--
pageTitle: Work
pageName: work
pageIndex: 2
hero:
  image: /images/gallery/11-7-01_1920x1280.jpg
  position: center center
  credit: Photo by [Mattias Alegro](https://www.mattiasalegro.com/)
--}}
{{> components/hero this}}

{{#markdown}}
## Upcoming
* [___Belonging: Part 1___](https://dojour.us/e/8414): Blue Lapis Light : Fall 2018 - Seaholm District
* ___4x4 Series___ - (more info coming soon)

## Recent
* [___Search for Flame/Jupiter___](http://schedule.fuseboxfestival.com/festival/search-for-flamejupiter) by Lindsey Taylor (Fusebox Festival) : April 2018
* [___Flicker.Burn.Repeat___](/media/#flicker-burn-repeat) (Austin Dance Festival) : April 2018
* [___Four Corners and a Circle___](/media/#four-corners-and-a-circle) : Chaddick Dance Theater - February 2018
* ___Backbone___ : February 2018
* __Fall Dance Festival__ : Chaddick Dance Theater - October 2017
{{/markdown}}

{{!-- <div class="resume">
{{#md "src/content/resume.md"}}{{/md}}
</div> --}}
