.site-header {
  background: @color-light;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  a {
    text-decoration: none;
    color: @text-color;
    transition: color .1s ease-in-out;
    padding: 0.5rem;
  }

  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .headingFont();

    .top-nav-logo {
      font-size: 0;
      a {
        margin-left: -0.5rem;
        display: block;
        color: @text-color-dark;
      }
      span {
        position: relative;
        .bodyFont();
        font-size: 1.2rem;
        display: inline-block;
        &:first-child {
          font-weight: 700;
        }
        &:last-child {
          // &:before {
          //   content: '_';
          // }
          .headingFont();
        }
      }
    }

    a:hover {
      color: @color-main;
    }

    .nav-current > a {
      &,
      &:hover {
        background: @color-main;
        color: @color-light;
      }
    }

    .nav-links {
      display: flex;
      justify-content: center;
    }

    .links {
      display: flex;
      flex-wrap: wrap;
      .respond-to-mobile-large({
        display: none;
      });
    }

    .nav {
      display: none;
      justify-content: center;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .social-links {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        height: 20px;
        fill: @color-light;
        transition: fill 0.1s ease-in-out;
      }
    }

    .menu-link {
      svg {
        height: 20px;
      }
      // &:hover {
      //   color: @color-light;
      // }
    }

    .nav-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: -0.5rem;
      a {
        padding: 1rem 0.5rem;
        line-height: 1;
      }
    }

    .respond-to-min-width(
      @ipad-portrait-width,
      {
        .nav {
          display: flex;
        }
        .menu-link {
          display: none;
        }
      }
    );

  }


}

.sticky-wrapper > .site-header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 @page-gutters;
  width: 100%;
}
